.header {
  position:fixed;
  width:100%;
  padding:25px 80px;
  display:flex;
  justify-content:space-between;
  background:rgba(0,0,0,0.6);
  backdrop-filter:blur(12px);
  z-index:1000;
}

.logo {
  font-size:26px;
  font-weight:900;
  letter-spacing:2px;
}

.nav a {
  margin-left:35px;
  color:white;
  text-decoration:none;
  font-weight:500;
}
