.header {
  display:flex;
  justify-content:space-between;
  padding:20px 50px;
  background:#111;
  color:white;
}

.logo-area {
  display:flex;
  align-items:center;
  gap:10px;
}

.logo-area img {
  width:50px;
}

.nav a {
  color:white;
  margin-left:30px;
  text-decoration:none;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header.scrolled {
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}
