.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(12px);
  color: white;
  z-index: 1000;
}

.logo {
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 2px;
}

.nav a {
  color: white;
  margin-left: 40px;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: white;
  transition: 0.3s;
}

.nav a:hover::after {
  width: 100%;
}
