.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #111;
  color: white;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 26px;
  font-weight: bold;
}

.nav a {
  color: white;
  margin-left: 30px;
  text-decoration: none;
  font-weight: 500;
}

.nav a:hover {
  opacity: 0.7;
}
