.header {
  position: fixed;
  width: 100%;
  padding: 25px 80px;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  background: rgba(0,0,0,0.5);
  z-index: 1000;
}

.logo {
  font-weight: 900;
  letter-spacing: 3px;
}

.nav a {
  margin-left: 40px;
  color: white;
  text-decoration: none;
}
