body {
  font-family: Arial;
}

.hero {
  position:relative;
  height:600px;
  overflow:hidden;
}

.slide {
  position:absolute;
  width:100%;
  height:100%;
  object-fit:cover;
  opacity:0;
  transition:1s;
}

.slide.active {
  opacity:1;
}

.hero-text {
  position:absolute;
  bottom:100px;
  left:80px;
  color:white;
}

.intro {
  padding:80px;
  text-align:center;
}

.cards {
  display:flex;
  justify-content:center;
  gap:40px;
  padding:50px;
}

.card {
  background:#eee;
  padding:40px;
  border-radius:20px;
  font-size:22px;
}

.reveal {
  opacity:0;
  transform: translateY(50px);
  transition:1s;
}

.reveal.active {
  opacity:1;
  transform: translateY(0);
}

.contact-form {
  max-width:500px;
  margin:100px auto;
  display:flex;
  flex-direction:column;
  gap:15px;
}

.contact-form input, textarea {
  padding:15px;
  font-size:16px;
}

.contact-form button {
  background:black;
  color:white;
  padding:15px;
  border:none;
}
